<table class="table is-fullwidth">
    <thead>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Religion</th>
    <th>Explorer</th>
    <th>County</th>
    </thead>
    <tbody>
    {{#each placemarkers}}
        <tr>
            <td>{{lat}}</td>
            <td>{{lng}}</td>
            <td>{{religion}}</td>
            <td>{{explorer.firstName}} {{explorer.lastName}} </td>
            <td>{{counties.name}}, {{counties.province}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>